@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  @apply bg-black;
} */

main {
  @apply w-full px-4 py-2;
}

/* ################ */

.calculator__grid {
  @apply grid my-4;
  @apply auto-cols-fr auto-rows-fr;
  @apply grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5;
  @apply gap-x-4 gap-y-6;
}

/* ################ */

.calculator {
  @apply border rounded-md;
  @apply bg-gray-600;
  @apply overflow-hidden;
}

.calculator__new-btn {
  @apply border border-white rounded-md;
  @apply col-end-auto;
  @apply text-white;
  @apply hover:bg-gray-500;
}

/* ################ */

.output {
  @apply h-20;
  @apply p-2;
  @apply bg-black/60;
  @apply flex flex-col;
  @apply break-all break-words;
  word-wrap: break-word;
}

.output .previous__operand {
  @apply text-[#EBEBEB];
  @apply text-base;
}

.output .current__operand {
  @apply text-white;
  @apply text-2xl;
}

/* ################ */

.keypad {
  @apply p-2;
  @apply border-t-2 border-gray-500;
  @apply grid grid-cols-4 gap-1;
}

.key {
  @apply rounded-md;
  @apply text-xl;
  @apply focus:outline-gray-500;
  @apply transition-colors duration-300;
  @apply bg-white/70 hover:bg-white/95;
  @apply active:bg-gray-600 active:text-[1.75rem];
}

.key.eval {
  @apply bg-white/95 hover:bg-red-200;
}

/* ################ */
:root {
  --background-color: #000000;
  --text-color: #ffffff;
}

[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}